annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
fastapi
fastapi-limiter
frozendict
gunicorn
h11
idna
joblib
multitasking
numpy
packaging
pandas
peewee
platformdirs
pydantic
pydantic_core
python-dateutil
pytz
redis
requests
scikit-learn
scipy
six
sniffio
soupsieve
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
xgboost
yfinance
